<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <title>Departments</title>
    <link rel="stylesheet" href="E:/python_code/epam_task/static/css/styles.css" />
    <link rel="stylesheet" href="E:/python_code/epam_task/static/css/empl_styles.css" />
    <link rel="stylesheet" href="E:/python_code/epam_task/static/css/reset.css" />

    
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=monzerat:500,600,700">
</head>


<body>
    <div class="wrapper">
        <div class="header">
            <div class="top-menu">
                <a href="employees.html" class="filter_button button">Back</a>
            </div>

            <div class="title">
                <p>Test Task</p>
            </div>

            <div class="button_group">

                
                <div class="filter">
                    <input class="input" type="text" placeholder="01/01/2001" />
                </div>
                <a href="" class="filter_button button">Find</a>
            </div>

            

        </div>

        <div class="content">
            <div class="table">
                <table class="table_head">
                    <tr>
                        <td class="clmn_class clmn_id">Id</td>
                        <td class="clmn_class clmn_name">Name</td>
                        <td class="clmn_class clmn_department">Department</td>
                        <td class="clmn_class clmn_birth_date">Birth Date</td>
                        <td class="clmn_class clmn_salary">Salary</td>
                        <td class="clmn_class clmn_button"></td>
                        <td class="clmn_class clmn_button"></td>
                    </tr>
                </table>
                
                <table class="employees_table">
                    
                    <tr class="row">
                        <td class="clmn_class clmn_id"> 1 </td>
                        <td class="clmn_class clmn_name"> Name </td>
                        <td class="clmn_class clmn_department"> Department </td>
                        <td class="clmn_class clmn_birth_date"> Date </td>
                        <td class="clmn_class clmn_salary"> Salary </td>
                        <td class="clmn_class clmn_button"></td>
                        <td class="clmn_class clmn_button"></td>
                        
                        
                    </tr>
                    
                </table>
            </div>
        </div>
    </div>
    

</body>

</html>